/* You can add global styles to this file, and also import other style files */
.container {
  padding-top: 20px;
}

body {
  font-family: "Catamaran" !important;
}

.accordion {
  border: 0px solid #eee;
}

.accordion-header {
  cursor: pointer;
  font-weight: 300;
}

.accordion-header .accordion-chev {
  color: #4db39d;
}

.accordion-container {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0px 10px;
  display: none;
}

.accordion-container.open {
  display: block;
}
